<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css"> 
<link rel="icon" href="/img/weather.png">
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <p>use this site to find out about stuff</p>
               <img class="portrait" src="/img/figment.jpg"> 
        </div>
        
        {{>footer}} 
     
    </body>
</html>